{% extends 'base_index.html' %}
{% load bootstrap %}

{% block title %}
    <title>Delete task</title>
{% endblock %}

{% block content %}
    <div class="card mx-auto" style="width: 30rem; margin-top: 150px;">
        <h5 class="card-header text-white" style="background-color: #7952b3;">Delete: {{ task.name }}</h5>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <button class="btn btn-primary"type="submit" style="margin-left: auto; text-align: center;">Done</button>
            </form>
        </div>
    </div>
{% endblock %}