{% extends 'base_index.html' %}
{% load bootstrap %}

{% block title %}
    <title>Edit task</title>
{% endblock %}

{% block content %}
    <div class="card mx-auto" style="width: 30rem; margin-top: 150px;">
        <h5 class="card-header text-white" style="background-color: #7952b3;">Edit task</h5>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|bootstrap }}
                <button class="btn btn-primary"type="submit" style="margin-left: auto;">Edit</button>
            </form>
        </div>
    </div>
{% endblock %}