{% extends 'base_index.html' %}
{% load bootstrap %}

{% block content %}
    {% if tasks|length == 0 %}
        <div class="card mx-auto" style="width: 30rem; background-color: #7952b3; margin-top: 150px;">
            <div class="card-header text-white">
                <h2 style="display: inline;">No tasks to do :)</h2>
                <a href="{% url 'add_task' %}" style="float: right;"><i class="fas fa-plus-square fa-2x mt-1" id="add"></i></a>
            </div>
        </div>
    {% else %}
        <div class="card mx-auto" style="width: 30rem; background-color: #7952b3; margin-top: 150px;">
            <div class="card-header text-white">
                <h2 style="display: inline;">Your tasks:</h2>
                <a href="{% url 'add_task' %}" style="float: right;"><i class="fas fa-plus-square fa-2x mt-1" id="add"></i></a>
            </div>
            <ul class="list-group list-group-flush">
                {% for task in tasks %}
                    <li class="list-group-item">
                        <h3 style="display: inline;">{{ task.name }}</h3>
                        <a href="{% url 'delete_task' task.id %}" style="float: right;"><i class="fas fa-check-square fa-2x" id="delete"></i></a>
                        <a href="{% url 'edit_task' task.id %}" style="float: right;"><i class="fas fa-edit fa-2x mr-1"></i></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}